
/* *Large: 992px-1199px */
@media(max-width: 1199px){
    .container{
        max-width: 960px;
        form{
            .sub-form-error{
                padding-left: 35% !important;
            }}
    }
    .course-offer{
        .container{
            .course-offer-box{
                flex-direction: column;
                .course-offer-pictures{
                    padding-left: 120px;
                }
                .course-offer-text{
                    width: 100%;
            }}}}
} 
/* *Medium: 768px-991px */
@media(max-width: 991px){
    .container{
        max-width: 720px;
        flex-direction: column;
       
        .course-price-info{
            font-size: 25px;
        }
       form{
        .item2{
            gap: 100px;
        }
        .sub-form-error{
            padding-left: 250px !important;
        }}

}
header{
    .navigation{
        .resp{
            display: block;
            color: $color;
        }
    .navigation-box{
        .viewD{
            display: none !important;
        }
        .viewM{
            position: absolute;
            top: 0px;
            right: 0;
            padding-top: 20px;
            padding-left: 25px;
            background-color: $background;
            color: $color;
            flex-direction: column;
            width: 40%;
            height: 100%;
            border-radius: 20px;
            align-items: flex-start;
            .head-menu-close{
                display: block;
                position: absolute;
                z-index: 1;
                top: 12px;
                right: 20px;
                color: $color;
            }
        }
        
    }}}
.author{
    .container{
        .author-photo{
            margin-bottom: $distance;
        }
        .author-about{
            width: 100%;
            .author-name, .author-manager{
                text-align: center;
            }
        }
    }
}
.course-form{
    .container{
        .course-form-box{
            grid-template-columns: repeat(2, 300px);
            }
    }}

}

/* *Small: 576px-767px */
@media(max-width: 767px){
    .container{
        max-width: 540px;

       .carousel{
        .carousel-inner{
            .feedback{
            img{
                min-width: 400px;
                min-height: 400px;
            }
        }}}
        form{
            .item2{
                gap: 15px;
            }
            .sub-form-item{
            flex-direction: column;
            input{
                width: 350px;
            }}
            .sub-form-error{
                padding-left: 5px !important;
            }
        }

    .video-box{
        .video-box-video{
        width: 400px !important;
        height: 400px !important;
    }}

        .course-price-info{
           flex-direction: column;
           gap: 15px;
           .course-price-option{
            width: 60%;
           }
        }

    }
    .author{
       .container{
        .title-box { 
            .button{
                right: 50px;
                .title-button{
                    margin-bottom: 8px;
                    width: 250px;
                    height: 68px;
                    font-size: 18px;
                }
        }}}
    }
    .course-offer{
        .container{
            .course-offer-box{
                .course-offer-pictures{
                    grid-template-columns: repeat(2, 150px);
                    grid-template-rows: repeat(2, 150px);
                    padding-left: 90px;
                    .course-offer-item{
                        width: 150px;
                        height: 150px;}
                }
            }}}
    .course-advantages{
        .container{
            .course-advantages-button{
                margin-left: 50px;
                display: block;
                }
        }
    }
    .course-form{
        .container{
            .course-form-box{
                grid-template-columns: repeat(1, 300px);
                padding-left: 100px;
                }
        }}

} 

/* *Extra small: 0px (320px)-575px */
@media(max-width: 575px){
    .container{
        max-width: 320px;
        font-size: 25px;
      .carousel{ 
        .carousel-inner{
            .feedback{
                img{
                 min-width: 250px;
                 min-height: 250px;
                }
        }}}
        form{
            .sub-form-item{
            input{
            width: 250px;
        }}
        }
       .video-box{
        .video-box-video{
            width: 250px !important;
            height: 250px !important;
        }}
        h2, h1{
            font-size: 28px !important;
        }
        .author-photo{
            width: 200px;
        }
       
            .course-price-info{
                .course-price-option{
                 width: 100%;
                }
             }
    }
  header{  
    .navigation {
        padding: 20px 20px;
       .navigation-box{
        .viewM{
            width: 70%;
            left: 0;
            right: 0;
    
        }
       }
    }}
.author{
    .container{
        .title-box { 
            .button{
                margin-left: 25px;
            }
        }
    } 
    .container{
        .author-photo{
            margin-left: 25px;
        }}
}
.course-offer{
    .container{
        .course-offer-box{
            .course-offer-pictures{
                padding-left: 20px;
            }}}}
.course-form{
                .container{
                    .course-form-box{
                        padding-left: 15px;
                        }
                }}
}