.author{
    .container{
        .title-box{
         padding-bottom: calc($margin / 2);
     
         .button{
             position: absolute;
             right: 120px;
         }
         }
     }
    .author-title{
        text-align: center;
        text-transform: uppercase;
    }
    .container{
        .author-photo{
            width: 350px;
            border-radius: 10px;
            overflow: hidden;
            object-fit: cover;
        }
        .author-about{
            width: 50%;
            .author-manager{
                color: darken($color, 15%);
            }
            .author-name{
                text-transform: uppercase;
            }
    
        }
    }
}