.container{

    .carousel{
        .carousel-inner{ 
            .feedback{
          img{
            min-width: 600px;
            min-height: 600px;}
        }}
        .carousel-indicators{
            button{
                width: 20px;
                border-radius: 50%;
                background: gray;
            }
        }
}}